.no-scroll {
    overflow: hidden;
}

.image-card {
    display: inline-block;
    position: relative;
    margin: 4px 2px;
    border: 2px solid #444442;
}

.image-card, .image-card img {
    width: 180px;
    height: 180px;
    line-height: 0;
}

.image-card:hover {
    cursor: pointer;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}